<div class="container-fluid">
  <div>
    <img src="/assets/images/Asset 8.png" alt="" class="img-fluid" />
  </div>
  <div>
    <div class="row">
      <div class="col-12 col-md-7 fs-5 fontitema">
        <p class="mx-5 mt-5 mb-4">
          9Care Center là chuỗi tiện ích dành cho người cao tuổi hàng đầu Việt
          Nam.
        </p>
        <p class="mx-5 my-4">
          Chúng tôi cung cấp các sản phẩm và dịch vụ uy tín được kiểm nghiệm và
          đánh giá bởi chuyên gia. Đây sẽ là một điểm đến trọn vẹn và lý tưởng
          dành cho người cao tuổi.
        </p>
        <p class="mx-5 my-4">
          Đặc biệt, chúng tôi cam kết trích 9% lợi nhuận để thực hiện các dự án
          cộng đồng, hoạt động gây quỹ,... dành cho người cao tuổi neo đơn, khó
          khăn. Đây không chỉ là một dự án kinh doanh, đây còn là giá trị tốt
          đẹp chúng tôi muốn gửi tới cộng đồng.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <img
          src="/assets/images/Asset12.png"
          alt=""
          class="img-fluid imgitem mt-3 mx-5 "
        />
      </div>
    </div>
  </div>
  <div>
    <img src="/assets/images/Asset 20.png" alt="" class="img-fluid" />
  </div>
  <div>
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="mx-5 pt-5 fw-bold">Câu chuyện của chúng tôi</h1>
        <p class="fs-5 mx-5 my-4">
          Xã hội phát triển, chúng ta mải mê quay cuồng với nhịp sống hiện đại
          mà đôi khi quên đi rằng tấm lưng cao lớn của cha đã còng đi, bàn tay
          mềm mại của mẹ đã đầy những chai sạn. Nhìn ra ngoài xã hội, có biết
          bao người cha, người mẹ phải già đi trong sự cô độc và buồn tủi. Hiểu
          được điều đó, 9Care mong muốn tạo ra một chuỗi tiện ích uy tín và đẳng
          cấp, như món quà muốn gửi tới thế hệ đi trước, cũng như là sự gợi nhắc
          cho những thế hệ sau này hãy biết quan tâm, sẻ chia và đồng hành cùng
          bố mẹ khi họ già đi.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <img src="/assets/images/img6.png" alt="" class="img-fluid pb-1" />
      </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
      <div class="col-12 col-md-4">
        <img src="/assets/images/dđ.png" alt="" class="img-fluid" />
      </div>
      <div class="col-12 col-md-8 text-end">
        <div class="mx-5">
          <h1 class="pt-5 fw-bold">Đội ngũ của chúng tôi</h1>
          <p class="fs-5 my-4 ms-2">
            Chúng tôi là thế hệ trẻ nghiên cứu về hệ sinh thái dành cho người
            cao tuổi, chúng tôi kết nối với nhau bằng sự nhạy bén với thời cuộc,
            bằng tinh thần luôn học hỏi và sáng tạo, quan trọng hơn cả là bằng
            sự trân quý và yêu thương để mang tới cộng đồng ước mơ chinh phục
            những giá trị tốt đẹp và cao cả.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h1 class="my-5 fw-bold">Mục tiêu của chúng tôi</h1>
    <div class="row text-info">
      <div class="col-12 col-md-6 border-end border-info border-5">
        <h2 class="my-4 text-uppercase">Cho người cao tuổi</h2>
        <p class="fs-4 my-2">Giúp đỡ</p>
        <h1 class="my-2">11,4 Triệu NCT</h1>
        <p class="fs-4 my-2">Có cuộc sống chất lượng và hạnh phúc hơn</p>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="my-4 text-uppercase">Cho cộng đồng</h2>
        <p class="fs-4 my-2">Xây dựng</p>
        <h1 class="my-2">01 Cộng đồng</h1>
        <p class="fs-4 my-2">gắn kết , sẻ chia , tốt đẹp và yêu thương.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <h1 class="pt-5 my-4 text-center fw-bold">Hoạt động cộng đồng</h1>
    <p class="fs-3 my-4 mx-5 text-center">
      Đội ngũ 9Care luôn không ngừng sáng tạo, học hỏi và hoàn thiện. Chúng tôi
      luôn chú trọng phát triển các hoạt động xã hội, đi theo tôn chỉ phụng sự
      cộng đồng người cao tuổi tại Việt Nam.
    </p>
    <div class="">
      <div class="row mx-5 mt-5">
        <div class="col">
          <img src="/assets/images/img7.png" alt="" class="img-fluid" />
        </div>
        <div class="col">
          <img src="/assets/images/img8.png" alt="" class="img-fluid" />
        </div>
        <div class="col">
          <img src="/assets/images/img11.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
    <div></div>
    <p class=" fs-4 text-center fst-italic">
      Đội ngũ 9Care đến thăm , trò chuyện và tặng quà cho các ông bà sinh hoạt
      nội trú tại Lotus Care.
    </p>
    <div class="">
      <div class="row" style="margin: auto 270px">
        <div class="col">
          <img src="/assets/images/img9.png" alt="" class="img-fluid" />
        </div>
        <div class="col">
          <img src="/assets/images/img10.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
    <p class="fs-4 text-center fst-italic">
      9Care lắng nghe ban lãnh đạo Lotus Care chia sẻ kinh nghiệm.
    </p>
    <p class="fs-3 my-4 pb-3 mx-5">
      Điển hình, ngày 17.05.2023, 9Care đã có chuyến thăm và làm việc với Trung
      tâm chăm sóc sức khoẻ người cao tuổi Hoa Sen - Lotus Care, nhằm trò
      chuyện, tâm sự với các ông bà đang sinh hoạt nội trú tại trung tâm. Ngoài
      ra, 9Care còn có cơ hội học hỏi, lắng nghe chia sẻ kinh nghiệm từ ban lãnh
      đạo Trung tâm. 9Care xin gửi lời cảm ơn sâu sắc tới Lotus Care vì đã tạo
      điều kiện và đón tiếp chúng tôi nhiệt tình. Mong rằng trong tương lai,
      Lotus Care và 9Care sẽ có nhiều cơ hội hợp tác, cùng nhau tạo nên những
      giá trị nhân văn cho xã hội.
    </p>
  </div>
</div>
