.item1{
    height: 200px ;
    width: 320px;
    margin-top: 150px ;
}
/* .item3{
    font-family: a
} */
/* .imgitem{
    padding-top: 570px ;
} */

.item{
    background-color: #E8ECEE ;
    /* font-family */
}
/* .fontitema{
    font-family: Arial
} */
