
<header>
  <div>
    <img src="/assets/images/Asset 7.png" alt="" class="img-fluid my-2">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light  shadow-sm navitem">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarMobile">
        <ul class="navbar-nav fs-5">
          <li class="nav-item">
            <a class="header-link mx-5 text-uppercase text-white" routerLink="">
              <i class="bi bi-house-door"></i>
              trang chủ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-link mx-5 text-uppercase text-white"
              routerLink="categories/all-products"
              >sản phẩm</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-link mx-5 text-uppercase text-white"
              routerLink="dichvu"
              >dịch vụ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-link mx-5 text-uppercase text-white"
              routerLink="contact"
              >về chúng tôi</a
            >
          </li>
          <li class="nav-item">
            <div class="icons mx-5 border rounded-pill border-drank border-2 ">
              <input type="text" class="navitem">
              <i class="bi bi-mic mx-2"></i>
            </div>
            <!-- <input type="text" class="mx-5 rounded-pill border-white"  > -->
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
